.navbar {
  display: flex;
  align-items: center;
}

.navbar app-unorded-list {
  width: 100%;
}

.navbar ul {
  gap: var(--spacing-md);
}

@media (max-width: 40rem) {
  .navbar ul {
    gap: var(--spacing-sm);
  }
}
